#post-title {
    color: black;
    text-decoration: none;
}

#post-title:hover {
    color: #D98E04;
}

svg#favorite-icon:hover {
    fill: #F6BE00;
}

#postID {
    background-color: white;
}

.label {
    color: #140000;
    padding: 8px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    border-radius: 5px;
}

.info {
    background-color: #BFCFD9;
}