h1,
h2 {
  font-family: "Lora", serif;
}

h3,
h4,
h5,
p,
span,
html,
label,
input:focus,
select,
option,
button,
footer,
.btn {
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-size: 16px;
  color: #54647f;
}

h3.post-subtitle {
  font-size: 10px;
  color: #54647f;
  font-weight: lighter;
}

.post {
  padding-top: 25px;
}

.createPost {
  color: black;
}

svg#create-icon:hover {
  fill: #415A77;
}

a:hover {
  color: #415A77;
}

.header-row {
  padding-top: 100px;
  padding-bottom: 25px;
}

.content-row {
  margin-left: 300px;
  margin-right: 300px;
}

.main-hero {
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  text-align: right;
}

#landingPageTitle {
  color: #eaebee;
  font-size: 85px;
  text-shadow: 2px 2px 8px #000000;
  text-align: center;
}

.frontPage {
  font-size: 1.35rem;
}

.action-btn {
  background-color: #415A77;
  color: white;
}

.action:hover {
  background-color: #1B263B;
}