.logInButton {
  background-color: #415A77;
}

.logInButton:hover {
  background-color: #1B263B;
}

.loginHeader {
  border-width: 4px;
  border-color: pink;
  background-image: url("../../../bridge_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 340px;
}