#post-title {
    color: black;
    text-decoration: none;
}

#post-title:hover {
    color: #d98e04;
}

svg.favorite-icon:hover {
    fill: #f6be00;
}

.postID {
    background-color: white;
}

.label {
    color: #140000;
    padding: 8px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    border-radius: 5px;
}

.info {
    background-color: #bfcfd9;
}

#postRow .col {
    border: 1px solid #c9c9c9;
}

a {
    text-decoration: none;
    color: #0d1b2a;
}
