.userSetting {
    border-color: lightgrey;
    margin-bottom: 7px;
    margin-top: 7px;
}

.settingLabel {
/*    background-color: #BFCFD9;*/
background-color: #E0E1DD;
/*background-color: #415A77;*/
color: #140000;
}

.deleteButton {
/*    background-color: #8A0202;
    color: white;*/
/*        border-color: #0D1B2A;
    background-color: #BD2020;
    color: #140000;*/
    
/*    border-width: 2px;*/
    background-color: #415A77;
    color: white;


}
.deleteButton:hover {
    border-width: 2px;
    background-color: #0D1B2A;
    border-color: #BD2020;
    color: white;
}

.card-header {
    background-color: #BFCFD9;
}


.submitButton {
    background-color: #415A77;
}

.submitButton:hover{
    background-color: #1B263B; 
}

hr {
    border: 0px;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #415A77, #1B263B, #415A77);
}

/*where did the orange come from? =D*/
h1, h2, p { 
    color: black;
}
