.signUpButton {
  background-color: #415a77;
}

.signUpButton:hover {
  background-color: #1b263b;
}

.signUpHeader {
  background-image: url("../../../media/city_resized.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 340px;
}
