h5 {
  font-family: "Raleway", serif;
  font-weight: bold;
  color: black;
}

.offcanvas {
  background: #c1c8d6;
}

.logOutButton {
  background-color: #415a77;
}

.logOutButton:hover {
  background-color: #1b263b;
}

.nav-link {
  color: #140000;
}

.nav-link:hover {
  color: #e0e1dd;
}
